body {
    font-family: sans-serif;
    background: url("https://lh3.googleusercontent.com/-WWx7wrHgy3g/UcojM9WDkzI/AAAAAAAABp8/6lMIsJag2oAsfhWL5MCk4lWqEiAaLTejACL0B/w1024-h576-n-rw-no/%25C2%25A9%2BChris%2BJames_MG_5402-2_WHCC.jpg");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

