body {
    font-family: sans-serif;
    background: url("https://lh3.googleusercontent.com/1yj8lEuxvS-AltkX6sPXv_dyL8229G5WGSIxOP-_t9nBwQTL8BCgaB1mWjIb6KRP7zbWvSj9IA=w1920-h1080-rw-no");
    margin-top: 75px;
    background-repeat: no-repeat;}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

